<html>

<head>
    <title>Group 3 App</title>
    <script src="products.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js');
        };
    </script>
    <link rel="manifest" href="lesson.webmanifest">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="padding: 10px; margin-top: 10px; margin-bottom: 10px;">
                    <div id="app">
                        <header>
                            <h3> {{ sitename }}</h3>
                            <!-- <button class="btn btn-info" @click='' style="float: right;">Cart</button> -->
                            <button class="btn btn-info" @click='showCheckout' style="float: right;">
                                {{cartItemCount}}
                                <span class="fa fa-cart-plus"></span> Checkout </button>
                        </header>
                        <main>
                            <div v-if='showProduct'>
                                <!--Using the for loop we are looping through the return of the sortedProducts computed property-->
                                <!--This will give us a list sorted by Price-->
                                <div v-for="product in products">
                                    <h5 v-text="product.title"></h5>
                                    <figure>
                                        <img v-bind:src="product.image">
                                    </figure>
                                    <p v-html="product.description"></p>
                                    <p> Location: {{product.location}}</p>
                                    <p> Price: {{ product.price }} </p>
                                    <p>Spaces: <span v-if="product.availableInventory === cartCount(product.id)">
                                            Sold out!
                                        </span>
                                        <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                                            Only {{product.availableInventory - cartCount(product.id)}} left!
                                        </span>
                                    </p>
                                    <!-- The button will display when 'Add to Cart is True -->
                                    <!--When we click the Add To Cart are now passing the product and its ID to the function as parameters-->
                                    <button class="btn btn-info" @click='addToCart(product)'
                                        v-if='canAddToCart(product)'> Add to Cart </button>
                                    <button class="btn btn-info" disabled='disabled' v-else>Add to Cart</button>
                                    <!-- This button will be disabled otherwise -->


                                    <!-- Star Rating -->
                                    <div>
                                        <span v-for="n in product.rating">&#9733;</span>
                                        <span v-for="n in 5-product.rating">&#9734;</span>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <h2>Checkout</h2>
                                <p>
                                    <strong>First Name:</strong>
                                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                                    <input v-model.trim="order.firstName" />
                                </p>
                                <p>
                                    <strong> Last Name:</strong>
                                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                                    <input v-model.trim="order.lastName" />
                                </p>
                                <P>
                                    <strong>Phone Number:</strong><input v-model.number="order.phone" type="number">
                                </P>

                                
                                <button v-on:click="submitForm" class="btn btn-info">Place Order</button>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var webstore = new Vue({
        el: '#app',
        data: {
            showProduct: true,
            sitename: 'After School Club',
            cart: [], // array to store items in shopping cart,
            states: ['Lagos', 'Valletta', 'Swieqi', 'St-Julian', 'Ikoyi'],
            order: {
                firstName: "",
                lastName: "",
                phone: ""
            },
            products: products,
        },
        methods: {
            addToCart: function (product) {
                this.cart.push(product.id);
            },
            addToCheckOutCart(product) {
                this.addToCheckOutCart.push(product);
            },
            showCheckout: function () {
                this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                alert('order has been placed')
            },
            
            canAddToCart: function (product) {
                return product.availableInventory > this.cartCount(product.id);
            },
            //We introduce the cartCount Method to count the number of items of a particular type in the cart
            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++
                    }
                }
                return count;
            },
            
        },
        computed: {
            cartItemCount: function () {
                return this.cart.length;
            },
        },
    });
</script>

</html>
